body{
	background-color: #988181;
}

h1, h2{
	font-family: sans-serif;
	color: antiquewhite;
}


header{
	border-radius: 80px;
	border: 2px solid black;
	text-align: center;
	margin-bottom: 1.5em;
}

footer{
	margin-top: 1em;
}

footer p{
	margin-left: 5%;
	margin-right: 5%;
	color: antiquewhite;
	text-align: center;
	text-shadow: 0px 0px 10px crimson;
}

#principal{
	margin-right: 100px;
}

#principal ul{
	text-align: center;
}

#principal li{
	list-style-type: none;
	display: inline;
	margin-right: 1.4em;
}

#principal li a{
	padding: 0.5em;
	color: antiquewhite;
	display: inline-block;
	border: 2px solid #4aa600;
	background-color: #a14545;
	text-decoration: none;
	border-radius: 25px;
}

#principal .selected{
	background-color: #6a2d2d;
}

#principal li a:hover{
	background-color: #6a2d2d;
	transition: background-color 0.8s;
}

#secundaria {
	float: left;
	display: inline-block;
	padding: 0%;
	margin-left: 0.5%;
}

#secundaria ul{
	margin-top: 1.1em;
	display: inline-block;
	padding: 0px;
	text-align: center;
	margin-top: 1.1em;
}

#secundaria li{
	list-style-type: none;
	margin-bottom: 1.1em;
	margin-left: 0px;
	display: block;
}

#secundaria li a{
	padding: 0.5em;
	color: antiquewhite;
	display: block;
	border: 2px solid #4aa600;
	background-color: #a14545;
	text-decoration: none;
	border-radius: 25px;
}

#secundaria li a:hover{
	background-color: #6a2d2d;
	transition: background-color 0.8s;
}

#content{
	display: block;
	border: 2px solid black;
	min-height: 30em;
	overflow: hidden;
	margin-left: 200px;
	margin-right: 10%;
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 1%;
}

#content #login form{
	width: 100%;
}

#content #login .input {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}
